@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,600,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  box-sizing: border-box;
  background: transparent;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.frame {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  border-radius: 10px;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

.memo {
  position: absolute;
  left: 1em;
  top: 1em;
  display: block;

  font-size: 14px;
  font-weight: 600;
  font-style: none;
  text-transform: none;
}