.container {
  position: relative;
  display: flex;
  height: 100vh;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.buttons {
  position: absolute;
  top: 50%;
  right: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
}

.buttons button {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full
}

.slider {
  position: relative;
  width: 12px;
  background-color: #ccc;
  cursor: col-resize;
}

.slider div {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  width: 10px;
  height: 100%;
  margin-left: -5px;
  background-color: #666;
  border-right: 1px solid #333;
  border-left: 1px solid #333;
  cursor: col-resize;
}